    </head>
    <body>

<nav class="nav">
    <i id="periodSelect" class="material-icons period-icon">date_range</i>
    <a href="/" class="nav-title">
        <span><strong>To-Do App</strong></span>
    </a>
    <button class="nav-hamburger">
        <div class="hamburger"></div>
        <div class="hamburger"></div>
        <div class="hamburger"></div>
    </button>
    <div class="nav-menu no-display">
        <% if(currentUser) { %>
            <a href="/todo" class="nav-viewAll">Home</a>
            <a class="nav-signedIn">Signed in as <%= currentUser.username %></a>
            <a href="/logout" class="nav-logout">Logout</a>
        <% } else { %>
            <a href="/register" class="nav-register">Register</a>
            <a href="/login" class="nav-logIn">Log In</a>
        <% } %>

    </div>
</nav>

<div>
    <% if(error && error.length > 0) { %> <!-- error.length because error array can be empty -->
        <div role="alert" class="flash flash-error">
            <%= error %>
        </div>
    <% } %>
    
</div>