<% include ./partials/header1.ejs %>
<% include ./partials/header2.ejs %>

<div class="form-form">
    <h2>Login</h2>
    
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username" class="form-text">
        <input type="password" name="password" placeholder="password" class="form-text">
        <wbr>
        <button class="form-button">Login</button>
    </form>

</div>
