<% include ./partials/header1.ejs %>
<% include ./partials/header2.ejs %>

<div class="form-form">
    <h2>Sign Up</h2>
    
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username" class="form-text" autocomplete="off">
        <input type="password" name="password" placeholder="password" class="form-text">
        <button class="form-button">Sign Up</button>
    </form>

</div>