html {
  font-size: 62.5%;
  font-family: 'Roboto', cursive;
}

body {
  font-size: 1.6rem;
}

* {
  /*border: 1px solid black !important; /*to display borders of elements, helps with CSS position and resize*/
  box-sizing:border-box;
  appearance: none;
  user-select:none;
  color: #1a1a1a;


}

.font-one {
  
}



.nav {
  width: 100%;
  background-color: #e6e6e6;
  height: 4.2rem;
  padding: 0;

}

.nav-height {
  height: auto;
}

.nav-title {
  display: inline-block;
  text-decoration: none;
  max-height: 100%;
  font-size:2.4rem;
  margin: 0.5rem;
}



.hamburger {
  width: 2rem;
  height: 0.3rem;
  background-color: black;
  margin: 0.4rem 0;
  border-radius: 8rem;
}

.nav-hamburger {
  border: 0;
  float: right;
  margin: 0.5rem;
  background-color: inherit;
}
.nav-hamburger:focus {
  outline: none;
}
.nav-menu {
  position: absolute;
  background: inherit;
  width:100%;
  z-index: 1;
}
.nav-menu a {
  display: block;
  width: 100%;
  text-decoration: inherit;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1.8rem;
}

.form-form {
  padding: 3rem;
}
.form-text {
  border: 0;
  border-bottom: 1px solid #1a1a1a;
  margin-top: 2rem;
}
.form-text:focus {
  outline: none;
}
.form-button {
  border: 0;
  display:block;
  margin-top: 2rem;
}

.flash {
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.25rem auto;
  text-align:center;
  width: 50%;
}
.flash-success {
  color: #3c763d;
  background-color:#dff0d8;
  border: 0.25rem solid #d6e9c6;
}

.flash-error {
  color: #a94442;
  background-color: #f2dede;
  border: 0.25rem solid #ebccd1;
}

.index-container {
  padding: 0 1rem;
  position: relative;
}



.no-display {
  display: none;
}

.selected-date {
  background-color: #e6e6e6;
}

a {
  cursor: pointer;
}

#modContent {
  /*height: 15vh;*/
  overflow: scroll;
}

#tbl {
  width: 100%;
  max-width: 100rem;
}

.col {
  width: 3rem;
  max-width: 3rem;
  padding: 0.25rem;
  font-size: 1.25rem;

  /*font-style: normal;*/
}

.row {
    height:4rem;
}

#tblHeader {
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  /*padding-top: 1rem;*/
  font-size: 1.6rem;
}



#container {
  text-align:center;
  margin-top:5px;
}

.icon-tiny {
  font-size: 1rem;
  display:block;
  color: #3D9970;
}

.icon-white {
  visibility:hidden;
}

td {
  vertical-align: text-bottom !important;
}

#yearTitle {
  text-align: center;
}


.prev-next-icon, .period-icon {
  font-size:3rem;
  vertical-align: bottom;
  margin: 0.5rem;
}

#prevBtn {
  float:left;
  clear:left;
}

#nextBtn {
  float:right;
  clear:right;
}
#title {
  margin: 0.5rem auto;
  display:inline-block;
}


.col-hours {
  width: 10rem;
  display:inline-block;
  margin-left:3rem;

}
.col-todos {
  width:15rem;
  display:inline-block;
  margin-left: 5px;
}

.single-entry {
  display: block;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.25px solid #E1E1E1;
}


.warning {
  color: red;
}

.month-list {
  width: 30%;
  height: 5rem;
  line-height: 5rem;
  display: inline-block;
  text-align: center;
  margin: 0.5rem;
}

.year-list {
  display: inline-block;
  margin: 1.75rem 1.75rem;
  border-bottom: 0.1rem solid grey;
}

#yearList {
  margin: 0 auto;
}


button:hover, .monthList:hover, .yearList:hover, .material-icons:hover {
  cursor: pointer;
}


.icon-container {
  position: absolute;

}

.icon-inner {
  position: relative;
  height: auto;
}

.icon-full-height {
  height: 100%;
}

.icon-add-pos {
  right: 2rem;
  bottom: 2rem;
}

.icon-edit-pos {
  right: 18rem;
  bottom: 2.5rem;
}

.icon-del-submit-pos {
  right: 10rem;
  bottom: 2.5rem;
}
.icon-back-pos {
  right: 2rem;
  bottom: 2.5rem;
}

.icon-add {
  font-size: 6rem;
}

.icon-mode {
  border: 3.5px solid black;
  border-radius: 50px;
  padding: 3px;
  font-size: 4rem;
}


.todo-show-content {
  width: 30rem;
  overflow-wrap: break-word;
  
}
.todo-show-time {
  display: table;
  border-bottom: 1px solid #E1E1E1;
}
.todo-show-time span {
  display:table-cell;
  vertical-align: middle;
  padding-left: 1rem;
}

.content-title {
  margin: 0.5rem auto;
  font-size:2rem;
  font-weight: bold;
}

.content-desc {
  text-align: justify;
}

#showFoundTodoDiv {
  overflow: scroll;
  margin: 0 auto;
  width: 30rem;
}


/*edit and new todo form*/

#formTodo {
  display: grid;
  max-width:600px;
  grid-template-columns: [col1] 10% [col2] /* 80% */ 10% [col-back] 30% 10% [col-check] 30% [col3] 10% [col4];
  grid-template-rows: [row1] 10% [row2] 10% [row3] 10% [row4] 40% [row5] 5% [row-icon] 25% [row6];
  justify-content: center;
  align-content: stretch;
  height:100%;
}

  /*#formTodo {*/
  /*  display: grid;*/
  /*  grid-column: col1-a / col3-b;*/
  /*  grid-row: row1-a / row4-b;*/
  /*}*/

  .form-date {
    grid-column: col2 / col3;
    grid-row: row1 / row2;
  }
  
  .form-time {
    grid-column: col2 / col3;
    grid-row: row2 / row3;
    
  }
  
  .form-title {
    grid-column: col2 / col3;
    grid-row: row3 / row4;
    
  }
  
  .form-desc {
    word-break: break-word;
    grid-column: col2 / col3;
    grid-row: row4 / row5;
    
  }
  
  .icon-back {
    grid-column: col-back / auto;
    grid-row: row-icon / auto;
  }
  
  .icon-sub {
    grid-column: col-check / auto;
    grid-row: row-icon / auto;
  }


.select-none {
  pointer-events: none;
  filter: blur(3px);
}

/*media queries*/
@media only screen
  and (min-width: 768px) {
    .index-container, #showTodoDiv, #formTodoDiv, #showFoundTodoDiv {
      max-width: 600px;
      margin: 0 auto;
    }
    #modContent {
      overflow: auto;
    }
    .nav-menu a {
      display: inline;
    }
    .nav-menu {
      display: inline-block;
    }
    .nav-title {
      display: inline-block;
    }
    .nav-hamburger {
      display: none;
    }
    #yearList {
      max-width: 600px;
    }
    .yearList {
      height: 25px;
      line-height: 25px;
      text-align: center;
      margin: 1rem;
    }
    
    .col-hours {
      margin-left:5rem;
    }
    
    #tblHeader {
      font-size: 2rem;
    }


  }
  

/*button, input, optgroup, select, textarea {*/
/*    border: 1px solid;*/
/*    padding: 4px;*/
/*    margin-right: 10px;*/
/*}*/
