/*============================================================================================================*/
/*============================================================================================================*/
/*global styles*/

html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
}

* {
  /*border: 1px solid black !important; /*to display borders of elements, helps with CSS position and resize*/
  box-sizing:border-box;
  appearance: none;
  user-select:none;
  color: #0B3954;
}

.no-display {
  display: none !important;
}

.overflow {
  overflow: scroll !important;
}

a, button:hover, .month-list:hover, .yearList:hover, .material-icons:hover {
  cursor: pointer;
}

.no-select {
  user-select: none !important;
  cursor: none !important;
}

.material-icons {
  vertical-align: bottom;
}

.max-height {
  height: 100% !important;
}

/*============================================================================================================*/
/*============================================================================================================*/

/*navigation styles*/

.nav {
  width: 100%;
  background-color: #4B7679;
  height: 4.2rem;
  padding: 0;
  position: fixed;
  top: 0;
  z-index:5;
}
  #periodSelect {
      font-size:3rem;
      vertical-align: bottom;
      margin: 0.5rem;
  }
  .nav strong, .nav i, .nav a {
    color: #F2F2F2;
  }

  .nav-title {
    display: inline-block;
    text-decoration: none;
    max-height: 100%;
    font-size:2.4rem;
    margin: 0.5rem;
  }

  .hamburger {
    width: 2rem;
    height: 0.3rem;
    background-color: #F2F2F2;
    margin: 0.4rem 0;
    border-radius: 8rem;
  }
    .select-none {
      pointer-events: none;
      filter: opacity(0.2);
      z-index: -1;
    }
  .nav-hamburger {
    border: 0;
    float: right;
    margin: 0.5rem;
    background-color: inherit;
  }
  .nav-hamburger:focus {
    outline: none;
  }
  .nav-menu {
    background: inherit;
  }
  .nav-menu-a {
    display: block;
    /*width: 100%;*/
    text-decoration: inherit;
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: 1.8rem;
  }

/*============================================================================================================*/
/*============================================================================================================*/

/*flash message*/

.flash {
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 7rem auto 0.25rem auto;
  text-align:center;
  width: 50%;
}
.flash-success {
  color: #3c763d;
  background-color:#dff0d8;
  border: 0.25rem solid #d6e9c6;
}

.flash-error {
  color: #a94442;
  background-color: #f2dede;
  border: 0.25rem solid #ebccd1;
}

/*============================================================================================================*/
/*============================================================================================================*/

/*login and register page*/

.form-form {
  padding: 3rem;
}
.form-text {
  border: 0;
  border-bottom: 1px solid #1a1a1a;
  margin-top: 2rem;
}
.form-text:focus {
  outline: none;
}
.form-button {
  border: 0;
  display:block;
  margin-top: 2rem;
}

/*============================================================================================================*/
/*============================================================================================================*/

/*calendar page*/

.index-container {
  padding: 0 1rem;
  position: relative;
  background-color: #FF6D70;
  margin-top: 4.2rem;
  box-shadow: 0 1px 5px #808080;
  font-family: 'Arvo', serif;
}
.index-container * {
  color: #FFF;
}
  #container {
    text-align:center;
    display: grid;
    grid-template-columns: [col1] 10% [col2] 80% [col3] 10% [col4];
    grid-template-rows: [row1] 10% [row2] 90% [row3];
    align-items: center;
    padding-top: 5px;
    
  }
    #prevBtn {
      vertical-align: bottom;
      grid-column: col1 / col2;
      grid-row: row1 / row2;
    }
    #nextBtn {
      vertical-align: bottom;
      grid-column: col3 / col4;
      grid-row: row1 / row2;
    }
    #title {
      display: inline-block;
      grid-column: col2 / col3;
      grid-row: row1 / row2;
    }
    #tbl {
      width: 100%;
      max-width: 100rem;
      grid-column: col1 / col4;
      grid-row: row2 / row3;
    }
      .col {
        width: 3rem;
        max-width: 3rem;
        padding: 0.25rem;
        font-size: 1.25rem;
        /*font-style: normal;*/
      }
      .row {
          height:3.75rem;
      }
      .selected-date {
        background-color: #2A3D45;
        border-radius: 10px;
      }
      td {
        vertical-align: middle;
      }
    #modContent {
      padding-top: 2rem;
      background-color: #FFFFFF;
    }
      .col-hours {
        width: 10rem;
        display:inline-block;
        margin-left:3rem;
      }
      .col-todos {
        width:15rem;
        display:inline-block;
        margin-left: 1.5rem;
      }
      .single-entry {
        display: block;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 0.25px solid #E1E1E1;
      }
      .no-entries {
        font-size: 2rem;
        width: 25rem;
        margin: 3rem auto;
        text-align:center;
        border-top: 1px solid #afafaf;
        border-bottom: 1px solid #afafaf;
        padding: 2rem 0 2rem 0;
        color: #808080;
      }

/*============================================================================================================*/
/*============================================================================================================*/

/*show todo*/

#showFoundTodoDiv {
  margin: 0 auto;
  width: 30rem;
  padding-top: 1rem;
}
  .todo-show-content {
    width: 30rem;
    overflow-wrap: break-word;
    
  }
  .todo-show-time {
    display: table;
  }
    .todo-show-time span {
      display:table-cell;
      vertical-align: middle;
      padding-left: 1rem;
    }
  .content-title {
    margin: 1.5rem auto 1rem auto;
    font-size:2rem;
    font-weight: bold;
  }
  .content-desc {
    text-align: justify;
    /*border-left: 1px solid #afafaf;*/
    border-left: 1px solid #afafaf;
    padding-left: 1rem;
  }
  
/*============================================================================================================*/
/*============================================================================================================*/

/*edit or new form*/
/*https://css-tricks.com/grid-areas-element-occupies-arent-necessarily-size/*/

#formTodo {
  display: grid;
  max-width:600px;
  grid-template-columns: [col1] 10% [col2]  80% [col3] 10% [col4];
  grid-template-rows: [row1] 6rem [row2] 6rem [row3] 5rem [row4] 12rem [row5];
  justify-content: center;
  justify-items: stretch;
  align-items: auto;
  height:100%;
}
  .form-title {
    grid-column: col2 / col3;
    grid-row: row3 / row4;
  }
    .form-title input {
      font-weight: bold;
    }
  .form-desc {
    word-break: break-word;
    grid-column: col2 / col3;
    grid-row: row4 / row5;
    width: 100%;
    border: 1px solid #afafaf;
    outline: none;
    border-radius: 0.5rem;
    padding: 5px;
  }
  .form-date {
    grid-column: col2 / col3;
    grid-row: row1 / row2;
  }
    #formDate, #formMonth, #formYear {
      margin: 0 1rem;
    }
    .form-select {
      border: none;
      background-color: transparent;
      outline: none;
      appearance: none;
      border-bottom: 1px solid #afafaf;
      padding: 0 0.25rem 0.25rem 0.25rem;
    }
  .icon-time, .icon-title {
    margin-right: 1rem;
  }
  .form-time {
    grid-column: col2 / col3;
    grid-row: row2 / row3;
  }
    #formFrmHr, #formToHr {
      margin-left: 0.5rem;
    }
    #formFrmMin {
      margin-right: 4rem;
    }
  .warning {
    color: red;
    font-weight: bold;
  }
  


/*============================================================================================================*/
/*============================================================================================================*/  
  

/*year and month lists*/

#yearList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  text-align: center;
  padding-bottom: 4rem;
  height: 100%;
}
  .year-list {
    /*border-bottom: 1px solid #F2F2F2;*/
    padding: 1rem;
  }

#monthList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  text-align: center;
  grid-auto-rows: 8rem;
  align-items: center;
  max-height:100%;

}

  #yearTitle {
    text-align: center;
    font-weight: bold;
    padding: 3rem;
    font-size: 2rem;
  }
  .month-list {
    padding: 1rem;
  }


/*============================================================================================================*/
/*============================================================================================================*/


/*icons*/

.icon-dots {
  font-size: 0.5rem;
  display:inline-block;
  color: #fff;
  margin: 0 1px;
}

.visible {
  visibility:hidden;
}


/*============================================================================================================*/
/*============================================================================================================*/

/*button pane*/

.button-pane {
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 3.5rem;
  display: grid;
  grid-template-columns: [col1] 33.33% [col2] 33.33% [col3] 33.33% [col4];
  grid-template-rows: [row1] 100% [row2];
  justify-content: center;
  width: 100%;
  background-color: #4B7679;
}
  .btn-pane-icons {
    font-size: 3rem;
    width: 100%;
    padding-top: 3px;
    text-align: center;
    height: inherit;
    color: #fff;
    grid-row-start: row1;
    grid-row-end: row2;
  }
  #checkBtn, .edit-pos {
    grid-column-start: col2;
    grid-column-end: col3;
    /*vertical-align has no effect on grid items!*/
  }
  .add-pos {
    grid-column-start: col1;
    grid-column-end: col4;
    background-color: #4392F1;
  }
  
  #checkBtn {
    background-color: #62ce64;
  }
  .edit-pos {
    background-color: #61bb62;
  }
  .arrow_back-pos {
    grid-column-start: col1;
    grid-column-end: col2;
    background-color: #618ebb;
  }
  #deleteBtn, .undo-pos {
    grid-column-start: col3;
    grid-column-end: col4;
    height:inherit;
  }
  .delete-pos {
    background-color: #bb6161;
  }

/*============================================================================================================*/
/*============================================================================================================*/






/*media queries*/
@media only screen

/*======= min width 720px start ======*/
and (min-width: 720px) {
  
  body {
    background:url(../bg/6.jpg);
    background-size: cover;
  }
  .index-container, #showTodoDiv, #formTodoDiv, #showFoundTodoDiv {
    max-width: 600px;
    margin: 4.2rem auto 0 auto;
  }
  
  * {
    color: #FFF;
  }

/*========================================================*/
/*========================================================*/

/*navigation styles*/

.nav {
  max-width: 1080px;
  /*background-color: rgb(75, 118, 121); /*fallback for browsers without rgba support
  /*background-color: rgba(75, 118, 121, 0.1);*/
  background: transparent;
  position: relative;
  margin: 2rem 0 0 5rem;
}
  .nav-hamburger {
    display: none;
  }
  .nav-menu {
    display: inline-block;
  }
  .nav-menu-a {
    display: inline-block;
  }

/*============================================================================*/
/*=============================================================================*/




/*============================================================================================================*/
/*============================================================================================================*/

/*login and register page*/

.form-form {
  padding: 10rem;
}
.form-text {
  border: 0;
  border-bottom: 1px solid #BABABA;
  background: transparent;
  margin-right: 4rem;
}

.form-text::placeholder {
  color: #BABABA;
}
.form-text:focus {
  outline: none;
}
.form-button {
  border: 2px solid #bababa;
  display:block;
  margin-top: 3rem;
  padding: 1rem;
  background: transparent;
  color: #fff;
}

/*============================================================================================================*/
/*============================================================================================================*/

/*calendar page*/

.index-container {
  padding: 0;
  background: transparent;
  margin: 0;
  margin-top: 4.2rem;
  margin-left: 2rem;
  box-shadow: 0 0 0;
}
.index-container * {
  color: #FFF;
}
  #container {
    text-align:center;
    display: grid;
    grid-template-columns: [col1] 10% [col2] 80% [col3] 10% [col4];
    grid-template-rows: [row1] 10% [row2] 90% [row3];
    align-items: stretch;
    padding: 0;
  }
    #prevBtn {
      vertical-align: bottom;
      grid-column: col1 / col2;
      grid-row: row1 / row2;
    }
    #nextBtn {
      vertical-align: bottom;
      grid-column: col3 / col4;
      grid-row: row1 / row2;
    }
    #title {
      display: inline-block;
      grid-column: col2 / col3;
      grid-row: row1 / row2;
    }
    #tbl {
      margin-top: 2rem;
      width: 100%;
      max-width: 100rem;
      grid-column: col1 / col4;
      grid-row: row2 / row3;
    }
      .col {
        width: 3rem;
        max-width: 3rem;
        padding: 0.25rem;
        font-size: 1.25rem;
        /*font-style: normal;*/
      }
      .row {
          height:3.75rem;
      }
      .selected-date {
        background-color: #2A3D45;
        border-radius: 10px;
      }
      td {
        vertical-align: middle;
      }
    #modContent {
      padding-top: 2rem;
      background-color: #FFFFFF;
    }
      .col-hours {
        width: 10rem;
        display:inline-block;
        margin-left:3rem;
      }
      .col-todos {
        width:15rem;
        display:inline-block;
        margin-left: 1.5rem;
      }
      .single-entry {
        display: block;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 0.25px solid #E1E1E1;
      }
      .no-entries {
        font-size: 2rem;
        width: 25rem;
        margin: 3rem auto;
        text-align:center;
        border-top: 1px solid #afafaf;
        border-bottom: 1px solid #afafaf;
        padding: 2rem 0 2rem 0;
        color: #808080;
      }

/*============================================================================================================*/
/*============================================================================================================*/

/*============================================================================================================*/
/*============================================================================================================*/
  
}
/*======= min width 720px end ======*/