<% include ../partials/header1.ejs %>

    <script>
        const user = <%- user %>;
        // const todos <!--= //- todos %>;
        // console.log(typeof todos, todos);
    </script>
    <script src="/scripts/todoCalendar_mod.js" async></script>
    

<% include ../partials/header2.ejs %>



    <div class="index-container">
    
    
        
    
        <div id="calendar"></div>
    
        
    </div>
    
    <div class="mod-content"></div>

</div>



<!--<div class="icon-container icon-add-pos">-->
<!--    <div class="icon-inner">-->
<!--        <div class="icon-full-height">-->
<!--            <i class="large material-icons icon-add" id="addNewTodo">add_circle_outline</i>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<% include ../partials/footer.ejs %>