<% include ../partials/header1.ejs %>

    <script>
        const user = <%- user %>;
        // const todos <!--= //- todos %>;
        // console.log(typeof todos, todos);
    </script>
    <script src="/scripts/todoCalendar_mod.js" async></script>
    

<% include ../partials/header2.ejs %>

<div class="index-container">

    <a class="add-todo" id="addNewTodo"><i class="large material-icons">add_box</i></a>

    <div id="calendar"></div>


</div>

<div id="modContent"></div>

<% include ../partials/footer.ejs %>