<% include ../partials/header1.ejs %>

    <script>
        const user = <%- user %>;
        // const todos <!--= //- todos %>;
        // console.log(typeof todos, todos);
    </script>
    <script src="/scripts/todoCalendar_mod.js" async></script>
    

<% include ../partials/header2.ejs %>

<div class="index-container">


    

    <div id="calendar"></div>


</div>

<div id="modContent"></div>

<div class="add-container">
    <div class="add-inner">
        <div class="add-full-height">
            <i class="large material-icons add-todo" id="addNewTodo">add_circle</i>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>