<% include ../partials/header.ejs %>

<div class="container">
    

    
    <h1>Todo</h1>
    
    <a href="/todo/new">Add New Todo</a>

    
    <div id="calendar" class="container-fluid"></div>
    <script>
        var todos = <%- todos %>;
        // console.log(typeof todos, todos);
    </script>
    <script src="/scripts/todoCalendar.js" async></script>
    <link rel="stylesheet" href="/stylesheets/index.css">

</div>

<% include ../partials/footer.ejs %>